<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <h2>Simple AirBnB</h2>
</nav>

<div class="container">
  <div class="grid">
    <% @flats.each do |flat| %>
        <div class="card">
          <div class="card-body flat-body">
            <strong><%= flat.name %></strong>
            <%= flat.address %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-sterling-sign"></i> <%= flat.price_per_night %></li>
            <li class="list-group-item"><i class="fa-solid fa-people-group"></i> <%= flat.number_of_guests %></li>
          </ul>
        </div>
    <% end %>
  </div>
</div>
