body{
  padding-bottom: 10px;
}

.grid{
  display: inline-grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.card{
  box-shadow: 0px 1px 3px rgb(230, 230, 230);
}
